%section#search
  = form_tag 'search' do
    = text_field_tag 'q', '', :placeholder => 'Search...'
%section#recent
  .programs
    - @torrents[0..2].each do |torrent|
      - file = Torrent::get_file(torrent)
      - url = torrent.percentDone < 1 ? '#' : "http://#{TORRENT_SERVER}/#{u file['name']}"
      = link_to url, :class => ('disabled' if torrent.percentDone < 1 ) do
        = image_tag '/cover.jpg'
        %h2
          = truncate torrent.name, :length => 60
          .size= number_to_human_size torrent.total_size
        .details
          - if torrent.percentDone < 1
            .download= "%.1f %%" % (torrent.percentDone * 100)
          - else
            .ready ready
%section#tv
  .grid
    .container
      - 10.times do |program|
        .programs
          - start = 0;
          - 20.times do |i|
            - width = rand(1..5)
            = link_to '/', :style => "width: #{width-0.08}%; left: #{start}%" do
              = image_tag '/cover.jpg'
              %h2 title
            - start += width
    .shade