%section#search
  = form_tag 'search' do
    = text_field_tag 'q', '', :placeholder => 'Search...'
%section#recent
  = render 'torrent'
%section#tv
  .grid
    .container
      - 10.times do |program|
        .programs
          - start = 0;
          - 20.times do |i|
            - width = rand(1..5)
            = link_to '/', :style => "width: #{width-0.08}%; left: #{start}%" do
              = image_tag '/cover.jpg'
              %h2 title
            - start += width
    .shade